@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}

body {
  background-image: url("./assets/backgrounds/flare-final.png");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
