@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("./assets/backgrounds/flare-chat-bg.png");
  object-fit: cover;

  background-size: cover;
  background-repeat: no-repeat;
} */
